{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Last articles</h2>
  <!-- Show last 5 articles -->
  {% for article in articles[0:6] %}
    <!-- Filter out all notes -->
    {% if article.category != "Notes" %}
      <article class="row teaser">
        <div class="col-sm-8">
          <h4 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.link %} <i class="fas fa-link"></i>{%
              endif %}</a>
          </h4>
          <time>{{ article.locale_date }}</time> in #<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category
            }}</a>

          <div class="content">
            {{ article.summary|striptags }}
          </div>
        </div>
        <header class="col-sm-4 text-muted"></header>
      </article>
      {% if not loop.last %}
      <hr>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}